<!DOCTYPE html>
<html>
  <head>
    <title>{{ shop.name | escape }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ shop.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ content_for_header }}
    {{ 'normalize.css' | asset_url | stylesheet_tag }}
    {{ 'bootstrap-core.css' | asset_url | stylesheet_tag }}
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    {{ 'https://fonts.googleapis.com/css?family=Unica+One|Karla:400,700' | stylesheet_tag }}
    {{ 'https://code.jquery.com/jquery-1.12.1.min.js' | script_tag }}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  </head>
  <body class="no-js">
    <nav id="navbar">
      <div class="container">

        <section id="navbar-top">
          <a id="navbar-brand" href="/">{{ shop.name | escape }}</a>
        </section>

        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <ul class="navbar-cart-link">
              <li><a id="cart-link" href="/cart">Cart: <span id="cart-count">{{ cart.item_count }}</span> / <span id="cart-price">{{ cart.total_price | money }}</span></a></li>
            </ul>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <ul class="navbar-main-menu">
              {% for collection in collections %}
                {% unless collection.handle == 'frontpage' %}
                <li><a href="{{ collection.url }}">{{ collection.title | escape }}</a></li>
                {% endunless %}
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </nav>

    <section id="content" class="container">
      {{ content_for_layout }}
    </section>

    <div class="modal" id="cart-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content" id="cart-container"></div>
      </div>
    </div>

    <script id="cart-template" type="text/x-handlebars-template">
      {% raw %}
      <form action="/cart" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title text-uppercase">Subtotal <small>{{totalPrice}}</small></h4>
        </div>
        <div class="modal-body">
          <div class="row">
            {{#items}}
            <div class="col-lg-12 cart-product">
              <div class="row">
                <div class="col-xs-2 col-sm-2">
                  <a href="{{url}}">
                    <img src="{{image}}" class="img-responsive">
                  </a>
                </div>
                <div class="col-xs-3 col-sm-5">
                  <a href="#">{{title}}</a>
                </div>
                <div class="col-xs-3 col-sm-2">
                  <input class="quantity-num" type="number" name="updates[]" value="{{quantity}}" min="0" data-id="{{id}}">
                </div>
                <div class="col-xs-2 col-sm-2">
                  <span>{{line_price}}</span>
                </div>
                <div class="col-xs-2 col-sm-1">
                  <a href="#" data-remove-id="{{id}}">
                    <span>
                      &times;
                    </span>
                  </a>
                </div>
              </div>
            </div>
            {{/items}}
          </div>
        </div>
        <div class="modal-footer text-center">
          <input type="submit" class="button" name="checkout" value="Checkout">
        </div>
      </form>
      {% endraw %}
    </script>

    {{ 'vendors.js' |asset_url | script_tag }}
    {{ 'app.js' | asset_url | script_tag }}
  </body>
</html>
