<header id="header">
    <h1>{{ product.title | escape }}</h1>
    {% comment %}
      Get first variant
    {% endcomment %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <p id="product-price" class="lead">
      {% if product.compare_at_price > product.price %}
        {{ current_variant.price | money }} <s>{{ current_variant.compare_at_price | money }}</s>
      {% else %}
        {{ current_variant.price | money }}
      {% endif %}
    </p>
</header>

<section id="product">
  <div class="row">
    <div class="col-sm-6 col-md-5">
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
      <img src="{{ featured_image | product_img_url: 'grande' }}" class="img-responsive center-block" id="product-image" alt="{{ featured_image.alt | escape }}" />
    </div>

    <div class="col-sm-6 col-md-7">
      {% if product.images.size > 1 %}
        <div id="product-thumbnails" class="row auto-clear product-photos">
          {% for image in product.images %}
            <div class="col-xs-3 product-photos-thumb">
              <a href="{{ image.src | img_url: 'grande' }}">
                <img class="img-responsive center-block" src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      <div class="product-description rte">
        {{ product.description }}
      </div>

      <form id="add-to-cart-form" action="/cart/add" method="post" role="form">
        <select id="product-select" class="product-select" name="id">
          {% for variant in product.variants %}
          <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
        </select>

        <!-- Variant swatches. -->
        {%  unless product.variants.first.title contains 'Default' %}
          {% for option in product.options %}
            {% include 'swatch' with option %}
          {% endfor %}
        {% endunless %}

        <p class="text-center">
          <button type="submit" id="add" class="button">Add to cart</button>
        </p>
      </form>
    </div>
  </div>
</section>

<script>

  var selectCallback = function(variant, selector) {

    myShop.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });

  };

  jQuery(function($) {

    new Shopify.OptionSelectors('product-select', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label>{{ product.options.first }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}

  });
</script>
