<header id="header">
  <div class="row">
    <div class="col-sm-6">
      <h1>{{ product.title | escape }}</h1>
    </div>
  </div>
</header>

<section id="product">
  <div class="row">
    <div class="col-sm-3">
      <img src="{{ product.featured_image | product_img_url: 'grande' }}" class="img-responsive" alt="{{ product.title }}" />
    </div>

    <div class="col-sm-9">
      <div class="row">
        {% for image in product.images %}
          <div class="col-sm-3">
            <a href="{{ image.src | img_url: 'grande' }}">
              <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
          </div>
        {% endfor %}
      </div>
      <p>
        {{ product.description }}
      </p>

      <form action="/cart/add" method="post" role="form">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <button type="submit" class="button">Add to cart</button>
      </form>
    </div>
  </div>
</section>
